.keynote-item {
  display: flex;
  margin-bottom: 5rem;
}

.keynote-item__image {
}

.keynote-item__info {
  font-family: Montserrat;
  font-size: 1.3rem;
  padding: 0 2rem;
  text-align: left;
  flex: 2;
}

.keynote-item__info__title {
  font-weight: bold;
  color: #7a7a7a;
  p {
    color: #c92335;
  }
}

.keynote-item__info__author {
  color: #337ab7;
  margin-top: 1rem;
  font-weight: bold;
  strong {
    font-weight: bold;
  }
}

.keynote-item__info__position {
  color: #7a7a7a;
  font-weight: bold;
  strong {
    font-weight: bold;
  }
}

.keynote-item__info__address {
  font-style: italic;
  p {
    color: #000;
  }
}

.keynote-item__info__intro {
  text-align: justify;
  margin-top: 1rem;
  p {
    color: #000000;
  }
}
