.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  z-index: 999;
  padding: 0.5rem;
}
.navbar__main-logo {
  color: #ffefd1;
  font-weight: bold;
  font-family: Futura;
  font-size: 3rem;
  line-height: 3rem;
  cursor: pointer;
}
.navbar__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
