.organizers {
  text-align: center;
  background-color: #ffefd1;
}
.organizers__title {
  background-color: #c92335;
  font-size: 3.6rem;
  color: #ffc452;
  font-weight: bold;
  font-family: Montserrat;
  padding: 0.5rem 0;
}
.organizers__list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4.5rem 0;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  gap: 4rem;
  img{
    max-height: 8rem;
  }
}
